
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: url("philippine-flag.jpg") no-repeat center center/cover;
    height: 100vh;
}


.overlay {
    background: rgba(0, 0, 0, 0.45);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.login-wrapper {
    max-width: 520px;
    margin: auto;
    text-align: center;
    color: #fff;
}


.title {
    font-size: 3.5rem;
    font-weight: bold;
}

.subtitle {
    margin-bottom: 40px;
    font-size: 1rem;
}


label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

.input-box {
    position: relative;
    margin-bottom: 25px;
}

.input-box input {
    width: 100%;
    padding: 14px 50px 14px 20px;
    border-radius: 50px;
    border: none;
    outline: none;
    font-size: 15px;
    background: rgba(255, 255, 255, 0.8);
}

.input-box i {
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    color: #000;
}


.signup-text {
    margin-bottom: 25px;
}

.signup-text a {
    color: #ff4d4d;
    text-decoration: none;
    font-weight: bold;
}


.login-btn {
    background: #fff;
    color: #000;
    border: none;
    padding: 12px 45px;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.login-btn:hover {
    background: #e5e5e5;
}


footer {
    color: #fff;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left {
    max-width: 400px;
}

.footer-links {
    display: flex;
    gap: 60px;
}

.footer-links h6 {
    font-weight: bold;
}

.footer-links p {
    margin: 4px 0;
    font-size: 14px;
}
